<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mutualmobile.harvestKmp.android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACTION_OPEN"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <application
            android:name="com.mutualmobile.harvestKmp.android.OpenChatApp"
            android:icon="@drawable/btc"
            android:label="@string/app_name"
            android:supportsRtl="true"
            tools:ignore="RtlEnabled"
            android:usesCleartextTraffic="true"
            tools:targetApi="donut">
        <activity
                android:name="com.mutualmobile.harvestKmp.android.ui.MainActivity"
                android:exported="true"
                android:theme="@style/SplashScreen"
                android:windowSoftInputMode="adjustResize"
                android:allowEmbedded="true"
                android:launchMode="singleTask"
                android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER"/>
                <data
                        android:host="openaix.io"
                        android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.mutualmobile.harvestKmp.android.ui.UnlockActivity"
                android:exported="true"
                android:windowSoftInputMode="adjustResize"
                android:allowEmbedded="true"
                android:launchMode="singleTask"
                android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
                android:name=".OpenFirebaseMessagingService"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>


</manifest>